<footer class="footer">
    <div class="footer__about">
        <div>
            <li>
                <h4>About Us</h4>
                <ul><a mat-button>Mision</a></ul>
                <ul><a mat-button>Personal</a></ul>
                <ul><a mat-button>Unetenos</a></ul>
                <ul><a mat-button>Contactanos</a></ul>
            </li>                     
        </div>
        <div>
            <li>
                <h4>Servicios</h4>
                <ul><a mat-button>Firma de documentos</a></ul>
                <ul><a mat-button>Coversor Imagen a PDF</a></ul>
                <ul><a mat-button>Aplicacion</a></ul>
            </li>
        </div>
    </div>
    <div>
        <p>Copyrigth 2021</p>
    </div>
</footer>