<form [formGroup]="LoginForm" (ngSubmit)="Register(LoginForm.value)">
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Usuario</mat-label>
      <input formControlName="User" matInput placeholder="">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input formControlName="Clave" matInput placeholder="">
    </mat-form-field>
  
  </div>
<div>
  <button [disabled]="LoginForm.invalid" type="submit">Login</button>
</div>
</form>
